@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --black: black;
  --white: white;
  --gray: rgba(128, 128, 128, 0.625);
  --section: rgb(0, 0, 0);
}
body.dark {
  --black: rgb(255, 255, 255);
  --white: rgb(0, 0, 0);
  --gray: rgba(128, 128, 128, 0.625);
  --section: rgb(37, 37, 37);
}
main {
  display: flex;
}
section {
  flex: 1;
  min-height: 100vh;
  position: relative;
  background-color: var(--section);
}
.sidebar {
  max-width: 300px;
  width: 200px;
  height: 100vh;
  min-height: 800px;
  background-color: var(--white);
  border-right: 1px solid var(--gray);
  overflow: auto;
  position: relative;
  transition: max-width 0.5s;
  overflow: hidden;
}
.colleps-btn {
  background-color: transparent;
  position: absolute;
  bottom: 40px;
  right: 30px;
  border: none;
  font-size: 26px;
  transform: rotate(-90deg);
  cursor: pointer;
  padding: 12px;
  color: var(--white);
  transition: all 0.4s ease;
}
.content-page {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.content-page h1 {
  font-size: 60px;
  line-height: 70px;
  color: var(--white);
}
.sidebar-navlink {
  padding: 26px;
  padding-top: 100px;
}
ul {
  list-style: none;
  padding-top: 100px;
}
a {
  text-decoration: none;
}
ul li:not(:last-child) {
  padding-bottom: 40px;
}
ul li a {
  padding: 12px;
  color: var(--black);
  font-size: 22px;
  line-height: 30px;
  transition: all 0.3s ease;
  border-radius: 6px;
  display: block;
  white-space: nowrap;
}
ul li a span {
  white-space: nowrap;
}
ul li a:hover {
  background-color: rgba(128, 128, 128, 0.114);
}
.toggle-dark-theme {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.toggle-dark-theme button {
  width: 70px;
  background-color: gray;
  border-radius: 20px;
  border: none;
  position: relative;
  padding: 4px;
  cursor: pointer;
}
.toggle-dark-theme .icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgb(50, 0, 106);
  position: relative;
  transition: all 0.5s ease;
}
.toggle-dark-theme .icon::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "\f186";
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
body.dark .toggle-dark-theme .icon {
  transform: translateX(calc(100% + 10px));
  background-color: yellow;
}
body.dark .toggle-dark-theme .icon::before {
  color: #fff;
  content: "\f185";
}
.sidebar.shrink_sidebar ul li a span {
  opacity: 0;
  transition: all 0.4s ease;
}
.sidebar.shrink_sidebar {
  max-width: 100px;
  transition: max-width 0.5s;
}

.sidebar.shrink_sidebar .colleps-btn {
  transform: rotate(90deg);
}
